#generate {
    background-color: rgb(164 255 171);
    color: black;
    font-weight: bold;
    width: 100%;
    height: 50px;
    padding: 10px 0;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    cursor: pointer;

    & img {
        width: 12px;
        height: 12px;
        filter: brightness(0) saturate(100%);
    }
}

#generate:hover {
    border: 2px solid rgb(164 255 171);
    background: transparent;
    color: rgb(164 255 171);

    & .arrow-right {
        fill: rgb(164 255 171);
    }
}
