.character-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

label {
    flex: 50%;
    font-size: 1.1rem;
}

.character-container p {
    flex: 50%;
    font-size: 20px;
    text-align: end;
    color: rgb(164 255 171);
}

input[type="range"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 100%;
    height: 6px;
    background: rgb(24, 24, 24);
    outline: none;
    overflow: visible;
    position: relative;
    margin: 12px 0;
    background-image: linear-gradient(rgb(164 255 171), rgb(164 255 171));
    background-size: calc((100% - 18px) * var(--ratio)) 100%;
    background-repeat: no-repeat;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 25px;
    height: 25px;
    background: white;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
    z-index: 2;
}

input[type="range"]::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: white;
    border-radius: 50%;
    cursor: pointer;
    border: none;
}
input[type="range"]::-webkit-slider-thumb:hover {
    border: 2px solid rgb(164 255 171);
    background: black;
}

input[type="range"]::-moz-range-thumb:hover {
    border: 2px solid rgb(164 255 171);
    background: black;
}

