.container-strength {
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    width: 100%;
    height: 50px;
    background-color: rgb(24 23 31);
    padding: 20px;
}

.container-strength h2 {
    color: rgb(85 84 93);
}

.container-strength h1 {
    font-size: 15px;
    color: white;
    place-self: center;
}

#strength-data {
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.blocks {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 6px;
}

.blocks div {
    display: flex;
    flex-direction: row;
    gap: 5px;
    box-sizing: border-box;
    height: 25px;
    width: 7px;
    border: 1.5px solid white;
    background-color: transparent;
    transition: all 0.3s ease;
}

/* Weak (easy) password */
.blocks .easy {
    border: red;
    background-color: red;
}

/* Medium strength password */
.blocks .medium {
    border: yellow;
    background-color: yellow;
}

/* Strong (hard) password */
.blocks .hard {
    border: green;
    background-color: green;
}
