* {
  font-family: "JetBrains Mono", sans-serif;
  font-size: 12px;
  margin: 0;
  padding: 0;
  color: rgb(232 231 239);
}

html {
  height: 100%;
  width: 100%;
  background-image: linear-gradient(rgb(21 20 28),rgb(9 8 12));
  background-color: rgb(21 20 28);
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  height: 100%;
  width: 400px;
  align-content: center;
}